Repository googleapis/nodejs-recommender, pull requests merged in 2020-11, with the labels that each got.

#130 build(node): add KOKORO_BUILD_ARTIFACTS_SUBDIR to env
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: recommender, automerge, cla: yes, context: full

#131 fix: do not modify options object, use defaultScopes
  package.json
  src/index.ts
  src/v1/recommender_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
Labels: api: recommender, automerge, cla: yes

#133 fix(browser): check for fetch on window
  protos/protos.json
  src/v1/recommender_client.ts
  synth.metadata
Labels: api: recommender, cla: yes, context: none

#135 docs: spelling correction for "targetting"
  README.md
  synth.metadata
Labels: api: recommender, automerge, cla: yes, context: full
